<ion-header>

  <ion-toolbar>

    <ion-buttons>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content *ngIf="!aviProv.error">
  <ion-card>

    <ion-card-header>
      <h1>{{aviProv.avisoAnf.avi_titulo}}</h1>
    </ion-card-header>

    <ion-card-content>
      <p>fecha: {{aviProv.avisoAnf.avi_fecha}}</p>
    </ion-card-content>

  </ion-card>

</ion-content>

<ion-content *ngIf="aviProv.error">

  <h1>{{aviProv.avisoAnf}}</h1>
  <br>


  <button ion-button icon-only menuToggle block (click)="publicarAviso()">
    Publicar aviso
  </button>


</ion-content>


<ion-menu [content]="mycontent">

  <ion-header>
    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col><img src="../../assets/imgs/avatar-icon.png" width="70px" icon-left=""></ion-col>
          <ion-col><h3>{{anfProv.anf.anf_nombre}} {{anfProv.anf.anf_apellido}}</h3></ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button ion-item (click)="mostrarHistorial()">
        Historial de compras
      </button>
      <button ion-item>
        Opciones de pago
      </button>
      <button ion-item>
        Compartir
      </button>
      <button ion-item>
        Ayuda
      </button>
      <button ion-item (click)="Salir()">SALIR</button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #mycontent [root]="rootPage"></ion-nav>

